name: Docker

on:
  push:
    branches: [ main ]

jobs:
  build_and_push:
    # Setting the gcr repo name for the image as it will be pushed in the gcr
    name: Setup Gcloud Account
    runs-on: ubuntu-latest
    env:
      IMAGE_NAME: gcr.io/${{ secrets.GCP_PROJECT_ID }}/${{ secrets.GCP_APP_NAME }}

    steps:

    # Checking out the Github code in the build pipeline
    - name: Checkout repository
      uses: actions/checkout@v2

    # Performing the Google Login via service account credentials
    - name: Login
      uses: google-github-actions/setup-gcloud@master
      with:
        project_id: ${{ secrets.GCP_PROJECT_ID }}
        service_account_email: ${{ secrets.GCP_EMAIL }}
        service_account_key: ${{ secrets.GCP_CREDENTIALS }}
        export_default_credentials: true

    # Doing explicit login for the docker / gcr service
    - name: Configure Docker
      run: gcloud auth configure-docker --quiet
    
    # Doing the docker build with the image name specified above
    - name: Build Docker image
      run: docker build . -t $IMAGE_NAME
    # Pushing the docker image in the GCR with name and the tag
    - name: Push Docker image
      run: docker push $IMAGE_NAME